<template name="listUsers">
  <h2>{{_ "components.listUsers.title"}}</h2>
  <p class="flow-text warning">{{_ "components.listUsers.warning"}}</p>
  {{#if Template.subscriptionsReady}}
    {{> usersList ""}}
  {{else}}
    {{> loader ""}}
  {{/if}}
</template>

<!-- ======================================================================= -->

<template name="usersList">
  <table class="striped responsive-table">
    <thead>
      <tr>
        <th data-field="username">{{_ "components.listUsers.username"}}</th>
        <th data-field="email">{{_ "components.listUsers.email"}}</th>
        <th data-field="createdat">{{_ "components.listUsers.createdat"}}</th>
        <th data-field="nbshifts">{{_ "components.listUsers.nbshifts"}}</th>
        <th data-field="nbshifts">{{_ "components.listUsers.nbdelivs"}}</th>
        <th data-field="nbshifts">{{_ "components.listUsers.nbkms"}}</th>
        <th data-field="nbshifts">{{_ "components.listUsers.gains"}}</th>
        <th data-field="role">{{_ "components.listUsers.role"}}</th>
        <th data-field="delete"></th>
      </tr>
    </thead>
    <tbody>
      {{#each user in users}}
        {{> usersItem user=user userToDelete=userToDelete}}
      {{/each}}
    </tbody>
  </table>
  <div id="modal-delete-user" class="modal">
    <div class="modal-content">
      <h4>{{_ "components.listUsers.confirmationTitle"}}</h4>
      <p>{{_ "components.listUsers.confirmationLabel"}}</p>
    </div>
    <div class="modal-footer">
      <a id="delete-for-real" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">{{_ "components.listUsers.confirmationYes"}}</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">{{_ "components.listUsers.confirmationNo"}}</a>
    </div>
  </div>
</template>

<!-- ======================================================================= -->

<template name="usersItem">
  <tr>
    <td>{{user.username}} {{user.services.facebook.name}}</td>
    <td>{{user.emails.[0].address}} {{user.services.facebook.email}}</td>
    <td>{{formatedCreatedAt}}</td>
    <td>{{user.shiftsCounter}}</td>
    <td>{{user.delivsCounter}}</td>
    <td>{{user.kmsCounter}}</td>
    <td>{{user.gainsCounter}}</td>
    <td>{{user.roles.[0]}}</td>
    <td>
      {{#if isNotAdmin}}
        <a class="waves-effect waves-light btn btn-delete-user" href="#modal-delete-user">
          {{_ "components.listUsers.deleteButtonContent"}}
          <i class="material-icons right">delete</i>
        </a>
      {{/if}}
    </td>
  </tr>
</template>
