<template name="listMyShifts">
  <h2>{{_ "components.listMyShifts.title"}}</h2>
  {{> myMonthsList monthToDisplay=monthToDisplay dataAvailable=dataAvailable}}
  {{> myCustomersInMonth monthToDisplay=monthToDisplay dataAvailable=dataAvailable}}
</template>

<!-- ======================================================================= -->

<template name="myMonthsList">
  {{#if Template.subscriptionsReady}}
    {{#if dataAvailable}}
      <div class="form-group">
        <label>{{_ "schemas.shifts.month.label"}}</label>
        <select id="my-months-list">
          {{#each month in myMonths}}
            {{#if isSelected month.value}}
              <option value="{{month.value}}" selected>{{month.label}}</option>
            {{else}}
              <option value="{{month.value}}">{{month.label}}</option>
            {{/if}}
          {{/each}}
        </select>
      </div>
    {{else}}
      <p class="flow-text warning">{{_ "components.listMyShifts.noShifts"}}</p>
    {{/if}}
  {{/if}}
</template>

<!-- ======================================================================= -->

<template name="myCustomersInMonth">
  {{#if dataAvailable}}
    {{#if Template.subscriptionsReady}}
      {{#each shift in shifts}}
        {{> myShiftsInCustomer shift=shift shiftToModifyRV=shiftToModifyRV shiftToDeleteRV=shiftToDeleteRV}}
      {{/each}}
    {{else}}
      <!-- TODO : loader for both subscriptions -->
      {{> loader ""}}
    {{/if}}
  {{/if}}
  <!-- TODO : shouldn't be displayed if no data available -->
  <div id="modal-modify-shift" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>{{_ "components.listMyShifts.modaltitle"}}</h4>
      {{#if shiftToModify}}
        {{> quickForm collection=Shifts id="updateShiftForm" resetOnSuccess=false doc=shiftToModify type="update" buttonContent=buttonContent}}
      {{/if}}
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat ">
        {{_ "components.listMyShifts.closemodal"}}
        <i class="material-icons right">replay</i>
      </a>
    </div>
  </div>
  <div id="modal-delete-shift" class="modal">
    <div class="modal-content">
      <h4>{{_ "components.listMyShifts.confirmationTitle"}}</h4>
      <p>{{_ "components.listMyShifts.confirmationLabel"}}</p>
    </div>
    <div class="modal-footer">
      <a id="delete-for-real" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">{{_ "components.listMyShifts.confirmationYes"}}</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">{{_ "components.listMyShifts.confirmationNo"}}</a>
    </div>
  </div>
</template>

<!-- ======================================================================= -->

<template name="myShiftsInCustomer">
  <h3>{{shift.customer}}</h3>
  <table class="striped responsive-table">
    <thead>
      <tr>
        <th data-field="date">{{_ "components.listMyShifts.date"}}</th>
        <th data-field="startHour">{{_ "components.listMyShifts.startHour"}}</th>
        <th data-field="endHour">{{_ "components.listMyShifts.endHour"}}</th>
        <th data-field="nbDelivs">{{_ "components.listMyShifts.nbdelivs"}}</th>
        <th data-field="nbKms">{{_ "components.listMyShifts.nbkms"}}</th>
        <th data-field="gains">{{_ "components.listMyShifts.gains"}}</th>
        <th data-field="modify"></th>
        <th data-field="delete"></th>
      </tr>
    </thead>
    <tbody>
      {{#each shiftItem in shift.shifts}}
        {{> shiftsItem shift=shiftItem currency=shift.currency shiftToModifyRV=shiftToModifyRV shiftToDeleteRV=shiftToDeleteRV}}
      {{/each}}
      <tr>
        <td><b>Total</b></td>
        <td>{{durationInHours}}</td>
        <td></td>
        <td>{{shift.nbDelivs}}</td>
        <td>{{distWithKM}}</td>
        <td>{{gainsWithCurrency}}</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</template>

<!-- ======================================================================= -->

<template name="shiftsItem">
  <tr>
    <td>{{formatedDate}}</td>
    <td>{{shift.startHour}}</td>
    <td>{{shift.endHour}}</td>
    <td>{{shift.nbDelivs}}</td>
    <td>{{distWithKM}}</td>
    <td>{{gainsWithCurrency}}</td>
    <td>
      <a class="modal-modify-shift-trigger waves-effect waves-light btn-floating" href="#modal-modify-shift">
        <i class="material-icons right">open_in_new</i>
      </a>
    </td>
    <td>
      <a class="modal-delete-shift-trigger waves-effect waves-light btn-floating" href="#modal-delete-shift">
        <i class="material-icons right">delete</i>
      </a>
    </td>
  </tr>
</template>
