<template name="chartEvol">
  {{#if Template.subscriptionsReady}}
    {{> evolChart chartFiltersRD=chartFiltersRD}}
  {{else}}
    {{> loader ""}}
  {{/if}}
</template>

<!-- ======================================================================= -->

<template name="evolChart">
  <div id="chartEvol">
    <h2>{{_ "components.chartEvol.title"}}</h2>
    {{# if dataAvailable}}
      <p class="flow-text">{{details}}</p>
      {{#each customer in shiftsData}}
        {{> evolChartSvg chartFiltersRD=chartFiltersRD customer=customer}}
      {{/each}}
    {{else}}
      <p class="flow-text warning">{{_ "components.chartEvol.noData"}}</p>
    {{/if}}
  </div>
</template>

<!-- ======================================================================= -->

<template name="evolChartSvg">
  <svg class="chart" id="{{svgId}}"></svg>
</template>
