<template name="appBody">
  <header>
    <div class="navbar-fixed">
      <nav class="blue lighten-2">
        <div class="nav-wrapper">
          <a href="/home" class="brand-logo">{{appName}}</a>
          {{> nav ""}}
        </div>
      </nav>
    </div>
  </header>
  <main class="container">
    {{# if connected}}
      {{> Template.dynamic template=main}}
    {{else}}
      <p class="flow-text warning">{{_ "noConnection"}}</p>
      {{> loader ""}}
    {{/if}}
  </main>
  <footer class="page-footer blue lighten-2">
    {{> footer ""}}
  </footer>
</template>
